h1  {
  color: rgb(0, 105, 217);

  margin-top: 30px;
}

.btn  {
  margin-bottom: 20px;
  margin-left: 15px;
}

.greeting  {
  margin: 15px 15px;
}

.message  {
  margin: 25px 25px;
}

span.confirmAsk  {
  text-transform: uppercase;
  font-size: 3rem;
  color: green;
}

.year   {
   font-weight: bold;
}

.not  {
  text-transform: uppercase;
  color: red;
}

#letter{
  display: none;
}

#firm  {
  font-weight: bold;
  margin: 25px 25px;
}

#uppercase  {
  display: none;
}

#result   {
  display: none;
}
